.profile__edit-button {
    background-image: url("../../../images/symbols/pencil.png");
    background-position: center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 24px;
    height: 24px;
    padding: 7px;
    border: 1px solid #fff;
    margin-left: 16px;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        background-size: 7.5px 7.5px;
        width: 18px;
        height: 18px;
        padding: 5.25px;
        margin-left: 10px;    
    }
}

.profile__edit-button:hover {
    opacity: 0.5;
    cursor: pointer;
}