.profile__info {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__info {
        align-items: center;
        text-align: center;
    }
}