.popup__close-button {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -42px;
    right: -40px;
    border: none;
    background-color: transparent;
    background-image: url("../../../images/closeicon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -32px;
        right: -1px;
    }
}

.popup__close-button:hover {
    cursor: pointer;
    opacity: 0.6;
}
