.header__logo {
    max-width: 142px;
    margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        padding-left: 27px;
        max-width: 103.74px;
        margin-bottom: 31.6px;
    }
}