.profile__description {
    color: white;
    font-size: 18px;
    line-height: 1.21;
    font-weight: normal;
    margin: 0;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

@media screen and (max-width: 767px) {
    .profile__description {
        font-size: 14px;
        text-align: center;
        padding-top: 0;
        padding-bottom: 30px;
        max-width: 200px;
    }
 }
