.footer {
    padding-top: 67px;
    padding-bottom: 60px;
    margin: 0;
}

@media screen and (max-width: 676px) {
    .footer {
        padding-left: 19px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}