.profile__pic {
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

@media screen and (min-width: 768px) {
    .profile__pic {
        margin-right: 30px;
    }
}

.profile__pic:hover {
opacity: 0.2;
cursor: url('../../../images/symbols/pencil.png'), pointer
}

