.place__like-button {
    background-image: url("../../../images/symbols/like.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px;
    height: 19px;
    border: none;
}

.place__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
